{% extends 'layout.twig' %}

{% block body %}
    <h1>Add image</h1>
    <form action="/image/add" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload Image">
    </form>
{% endblock %}