{% extends 'layout.twig' %}

{% block body %}
    <a class="btn" href="edit/{{ image.CurrentIPTCDigest }}">Edit</a>
    <a class="btn" href="../uploads/{{ image.FileName }}" download="{{ image.Title }}">Download Image</a>
    <a class="btn" href="../uploads/{{ linkXmp }}" download="{{ image.Title }}">Download XMP</a>
    <article itemscope itemtype="http://schema.org/ImageObject">
        <h1 itemprop="name">{{ image.Title }}</h1>
        <img src="../uploads/{{ image.FileName }}" alt="{{ title }}" itemprop="contentUrl">
        <p itemprop="description">{{ description }}</p>
        <div>
            <table>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                {% for key, value in image %}
                    <tr>
                        <td>{{ key }}:</td>
                        <td>{{ value }}</td>
                    </tr>
                    <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
                        <meta itemprop="name" content="{{ key }}">
                        <meta itemprop="value" content="{{ value }}">
                    </div>
                {% endfor %}
            </table>
        </div>
    </article>
{% endblock %}