{% extends 'layout.twig' %}

{% block body %}
        <div>
            <a class="back" href="/image/{{ image.CurrentIPTCDigest }}"></a>
            <form action="/image/edit/{{ image.CurrentIPTCDigest }}" method="post">
                {% for key, value in image  %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ key }}</span>
                        {% if key in tabUneditable %}
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{ value|escape }}" disabled>
                        {% else %}
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{ value|escape }}">
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Edit metadata</button>
            </form>
        </div>
{% endblock %}