{% extends 'layout.twig' %}

{% block body %}
    <section class="about-content">
        <section class="section-authors">
            <h2>Auteurs</h2>                
            <ul>
                <li><a href="mailto:21308390@etu.unicaen.fr">Siriman TRAORE - 21308390</a></li>
                <li><a href="mailto:21613320@etu.unicaen.fr">Lotfi IDIR - 21613320</a></li>
            </ul>
        </section>
        <!-- DESCRIPTION  -->
        <section class="section-description">
            <h2>Description</h2>
            <div class="content-description">
                <p>Ce projet consiste à réaliser une galerie d'images simple et permettre une consultation et édition des métadonnées. 
                        En plus cela, nous avons mis en place une possibilité de visualisation des photos sur une map, toute fois, si 
                        celles-ci contiennent des données géographiques et de partage sur les réseaux avec les micro-data, Open Graph et 
                        Twitter Card.
                    </p>
                    <p>Ce projet a été réalisé de telle sorte que les métadonnées ne soient pas extraites des images à chaque affichage. Cette optimisation 
                            n'inclut pas l'usage d'une base de données.</p>             
            </div>                     
        </section>
        <!-- TECHNO USED -->
        <section class="section-technology">
            <h2>Technologies utilisées</h2>
            <section class="section-technology-content">
                <div class="row-techno">
                        <div class="colonne-techno">
                            <img src="resources/node-logo.png" alt="NodeJS" class="techno"/>
                            <h4>NodeJS</h4>
                        </div>
                        <div class="colonne-techno">
                            <img src="resources/express-logo.png" alt="ExpressJS" class="techno"/>
                            <h4>ExpressJS</h4>                    
                        </div>
                        <div class="colonne-techno">
                                <img src="resources/git-logo.png" alt="Git" class="techno"/>
                                <h4>Git</h4>                    
                        </div>
                    </div>
                    <div class="row-techno">
                        <div class="colonne-techno">
                            <img src="resources/twig-logo.png" alt="Twig" class="techno"/>
                            <h4>Twig</h4>                    
                        </div>
                        <div class="colonne-techno">
                            <img src="resources/exiftool-logo.jpg" alt="ExifTool" class="techno"/>
                            <h4>ExifTool</h4>                    
                        </div>
                        <div class="colonne-techno">
                                <img src="resources/heroku-logo.png" alt="Heroku" class="techno"/>
                                <h4>Heroku</h4>                    
                        </div>
                    </div>
                    <div class="row-techno">
                        <div class="colonne-techno">
                            <img src="resources/sass-logo.png" alt="Sass" class="techno"/>
                            <h4>Sass</h4>                    
                        </div>
                    </div>
            </section>
        </section>    
    </section>                 
{% endblock %}