{% extends 'layout.twig' %}

{% block body %}
    <a class="btn" href="image/add">Ajouter une image</a>
    <section class="rows">
        {% for d in data %}
            <div class="row-container">
            <a href="image/{{ d.CurrentIPTCDigest }}">
                <div class="row">
                    <h3>{{ d.Title }}</h3>
                    <span>Autor : {{ d.Creator }}</span>
                    <div class="image-in-row"><img src="uploads/{{ d.FileName }}" width="300" alt="{{ d.Title }}" /></div>
                </div>
            </a>
            <a class="btn-edit" href="image/edit/{{ d.CurrentIPTCDigest }}">Edit</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}