<!DOCTYPE html>
{% if metaDescription %}
    <html prefix="og: http://ogp.me/ns#">
{% else %}
    <html>
{% endif %}
<head>
    {% if metaDescription %}
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:description" content="{{ metaDescription }}"/>
        <meta property="og:author" content="{{ metaAuteur }}"/>
        <meta property="og:url" content="{{ metaUrl }}"/>
        <meta property="og:image" content="{{ metaImage }}"/>
        <meta name="DC.title" content="{{ title }}"/>
        <meta name="DC.type" content="article"/>
        <meta name="DC.creator" content="{{ metaAuteur }}"/>
        <meta name="DC.description" content="{{ metaDescription }}"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="{{ title }}"/>
        <meta name="twitter:creator" content="{{ metaAuteur }}"/>
        <meta name="twitter:description" content="{{ metaDescription }}"/>
        <meta name="twitter:image" content="{{ metaImage }}"/>
    {% endif %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="logo"><a href="/">MetaPictures</a></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<main id="site-main">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
</body>
</html>
