<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ metaDescription }}" />
    <meta property="og:author" content="{{ metaAuteur }}" />
    <meta property="og:url" content="{{ metaUrl }}" />
    <meta property="og:image" content="{{ metaImage }}" />
    <meta name="DC.title" content="{{ title }}" />
    <meta name="DC.type" content="article" />
    <meta name="DC.creator" content="{{ metaAuteur }}" />
    <meta name="DC.description" content="{{  metaDescription }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:creator" content="{{ metaAuteur }}" />
    <meta name="twitter:description" content="{{ metaDescription }}" />
    <meta name="twitter:image" content="{{ metaImage }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="logo"><a href="/">MetaPictures</a></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<main id="site-main">
    <div class="container">
{% block body %}
    <h1>Map</h1>
    <div id="map"></div>
{% endblock %}

    </div>
</main>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClrtPbB68tDgHD_MSuaddPDHzzZzAzLz8"></script>
<script src="/js/script.js"></script>
</body>

</html>
