@import url("https://fonts.googleapis.com/css?family=Montserrat:500,800");
body {
  background-color: #f9f8f8;
  font-family: "Montserrat", sans-serif; }
  body header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    body header .logo {
      width: 50%; }
      body header .logo a {
        font-size: 50px;
        font-weight: 800;
        text-decoration: none;
        color: #121212; }
    body header nav ul {
      margin: 0;
      padding: 0; }
      body header nav ul li {
        margin: 20px;
        display: inline-block;
        list-style: none; }
        body header nav ul li a {
          font-size: 20px;
          text-decoration: none;
          color: #350081; }
  body h1.page-title {
    font-weight: 800; }

a {
  text-decoration: none;
  color: #121212; }
  a.btn {
    padding: 10px 20px;
    background-color: #340082;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #f9f8f8;
    border: 2px solid transparent;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    a.btn:hover {
      background-color: #f9f8f8;
      color: #340082;
      border: 2px solid #340082; }

button {
  padding: 15px 50px;
  margin: 25px auto;
  font-size: 20px;
  border: 2px solid transparent;
  display: block;
  background-color: #340082;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #f9f8f8;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  button:hover {
    background-color: #f9f8f8;
    color: #340082;
    border: 2px solid #340082; }

main section.rows {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  main section.rows .row-container {
    position: relative;
    width: 380px;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px #EEEEEE;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease; }
    main section.rows .row-container .row .image-in-row {
      width: 100%;
      height: 170px;
      margin: 10px 0;
      overflow: hidden; }
    main section.rows .row-container .row h3 {
      padding: 10px; }
    main section.rows .row-container:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 20px #d4d4d4; }
  main section.rows a.btn-edit {
    position: absolute;
    bottom: 70px;
    margin: -40px;
    padding: 10px 20px;
    background-color: #340082;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #f9f8f8;
    border: 2px solid transparent;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    main section.rows a.btn-edit:hover {
      background-color: #f9f8f8;
      color: #340082;
      border: 2px solid #340082; }

#map {
  width: 100%;
  height: 400px; }

article img {
  width: 60%; }

a.back {
  width: 60px;
  height: 50px;
  background: url(../resources/back.svg) no-repeat;
  background-size: contain;
  display: block;
  transform: rotate(180deg); }

/* Bootstrap css */
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; }

.input-group .form-control {
  position: relative;
  z-index: 2;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0; }

.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover {
  z-index: 3; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon,
.input-group-btn {
  white-space: nowrap; }

.input-group-addon {
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem; }

.input-group-addon.form-control-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

.input-group-addon.form-control-lg,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .input-group-addon.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group-addon:not(:last-child) {
  border-right: 0; }

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 15px; }

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0; }

.input-group-btn {
  position: relative;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 0;
  white-space: nowrap; }

.input-group-btn > .btn {
  position: relative; }

.input-group-btn > .btn + .btn {
  margin-left: -1px; }

.input-group-btn > .btn:focus, .input-group-btn > .btn:active, .input-group-btn > .btn:hover {
  z-index: 3; }

.input-group-btn:first-child > .btn + .btn {
  margin-left: 0; }

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
  margin-right: -1px; }

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
  z-index: 2;
  margin-left: 0; }

.input-group-btn:not(:first-child) > .btn:first-child,
.input-group-btn:not(:first-child) > .btn-group:first-child {
  margin-left: -1px; }

.input-group-btn:not(:first-child) > .btn:focus, .input-group-btn:not(:first-child) > .btn:active, .input-group-btn:not(:first-child) > .btn:hover,
.input-group-btn:not(:first-child) > .btn-group:focus,
.input-group-btn:not(:first-child) > .btn-group:active,
.input-group-btn:not(:first-child) > .btn-group:hover {
  z-index: 3; }

.input-group .form-control {
  position: relative;
  z-index: 2;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0; }

.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover {
  z-index: 3; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0; }

/*# sourceMappingURL=style.css.map */
